<launch>
    <!-- Launch stonefish simulation -->
    <include file="$(find planning)/launch/stonefish.launch" />

    <!-- Run frontier exploration node -->
    <node pkg="planning" type="frontier_exploration.py" name="frontier_detector" output="screen" launch-prefix="python3" />

    <!-- Run goal manager node -->
    <node pkg="planning" type="goal_manager.py" name="goal_manager" output="screen" launch-prefix="python3" />

    <!-- Run online planning node -->
    <node pkg="planning" type="planner_node.py" name="online_planner" output="screen" launch-prefix="python3" />

    <!--<node pkg="planning" type="path.py" name="odom_real" output="screen" launch-prefix="python3" /> -->

</launch>
